<!DOCTYPE html>
<html>
<head>
    <title>View Hostel Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Hostel Details</h1>
        <table class="table table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Gender Type</th>
                    <th>Level</th>
                    <th>Course Type</th>
                    <th>Number of Rooms</th>
                    <th>Room Capacity</th>
                    <th>Mess Availability</th>
                    <th>Hostel Fees</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for hostel in data %}
                <tr>
                    <td>{{ hostel.hostelname }}</td>
                    <td>{{ hostel.gender }}</td>
                    <td>{{ hostel.level }}</td>
                    <td>{{ hostel.course }}</td>
                    <td>{{ hostel.no_rooms }}</td>
                    <td>{{ hostel.room_cap }}</td>
                    <td>{{ hostel.mess }}</td>
                    <td>{{ hostel.hostelfees }}</td>
                    <td>
                        <a href="{% url 'edithostel' hostel.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'delete_hostel' hostel.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
