
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/warden_login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Warden Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="contact">Username:</label>
        <input type="text" name="contact">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <button type="submit">Login</button>
        <div class="spinner" style="display: none;"></div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/warden_login.js' %}"></script>
{% endblock %}
