/* static/css/warden_dashboard.css */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
}
